# IndexIgnore README.markdown .gitignore .htaccess

RewriteEngine on
# RewriteOptions Inherit

RewriteRule ^([a-z0-9]+)$ v.php?v=$1
RewriteRule ^\!stats\/([a-z0-9]+)$ stats.php?l=$1
RewriteRule ^\!doc\/([aA-zZ0-9\-]+)$ doc.php?n=$1