body {
    background: #1a1a1a url('bg.png') repeat-x;
    text-align: center;
}
a {
    color: white;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
#create-link, #stats-head {
    font-family: 'Corbel', sans-serif;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
    text-align: center;
    vertical-align: top;
    width: 650px;
    display: inline-block;
    margin-top: 50px;
}
#create-link img, #stats-head img {
    float: left;
    border: none;
}
#stats-head p {
    margin-top: 41px;
}
#create-link input {
    margin-top: 36px;
    font-size: 18px;
    padding: 8px;
}
#create-link input[name=url] {
    width: 300px;
}
#create-link input[name=url].inactive {
    color: #999;
}
#output {
    width: 650px;
    display: inline-block;
    margin-top: 35px;
    color: white;
    font-family: 'Calibri',sans-serif;
}
.stats#output {
    text-align: left;
}
.stats#output table {
    width: 100%;
    color: white;
    text-align: left;
}

.version-box {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    padding: 15px;
    font-family: 'Consolas','Courier New',monospace;
    font-size: 12px;
}

.stats#output .top {
    text-align: center;
    margin: 20px;
}
.stats#output .graph {
    display: inline-block;
    height: 250px;
    width: 600px;
}
.stats#output .graph-row .graph {
    width: 300px;
}
.stats#output th {
    text-align: right;
    padding-right: 10px;
    font-weight: normal;
    width: 45%;
}