html { height: 100%; background: rgb(26,26,26); } /*Old browsers*/
body {
    /*background: #1a1a1a url('bg.png') repeat-x;*/
    min-height: 100%;
    
    /*gradient*/
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(26,26,26,1) 200px, rgba(26,26,26,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(200px,rgba(26,26,26,1)), color-stop(100%,rgba(26,26,26,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(26,26,26,1) 200px, rgba(26,26,26,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(26,26,26,1) 200px, rgba(26,26,26,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(26,26,26,1) 200px, rgba(26,26,26,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(26,26,26,1) 200px, rgba(26,26,26,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;

    text-align: center;
    margin: 0px;
}
a {
    color: white;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
#create-link, #stats-head {
    font-family: 'Corbel', sans-serif;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
    text-align: center;
    vertical-align: top;
    width: 650px;
    display: inline-block;
    margin-top: 50px;
}
#create-link img, #stats-head img {
    float: left;
    border: none;
}
#stats-head p {
    margin-top: 41px;
}
#create-link input, #url-input, #url-submit {
    margin-top: 36px;
    font-size: 18px;
    padding: 8px;
}
#create-link input[name=url] {
    width: 300px;
}
#url-input {
    width: 400px;
}
#create-link input[name=url].inactive, #url-input.inactive {
    color: #999;
}
#output, #container {
    width: 650px;
    display: inline-block;
    margin-top: 35px;
    color: white;
    font-family: 'Calibri',sans-serif;
}
.stats#output {
    text-align: left;
}

.version-box {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    padding: 15px;
    font-family: 'Consolas','Courier New',monospace;
    font-size: 12px;
}

.stats#output .top {
    text-align: center;
    margin: 20px;
}
.stats#output .graph {
    display: inline-block;
    height: 250px;
    width: 600px;
}
.stats#output .graph-row .graph {
    width: 300px;
}
.stats#output th {
    text-align: right;
    padding-right: 10px;
    font-weight: normal;
    width: 45%;
}

.doc#output, .doc#container {
    text-align: left;
}
.doc#output .src-link, .doc#container .src-link {
    float: right;
    font-size: 12px;
}

/* LAYOUT */
#bar {
    /* gradient */
    background: rgb(160,160,160); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(160,160,160,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#333333',GradientType=0 ); /* IE6-9 */

    text-align: center;
    display: block;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 2px black, 0px 0px 5px black, 0px 0px 10px black;
    left: 0;
    top: 0;
}

#bar-content {
    background: url('logo.png') no-repeat 2px -39px;
    display: inline-block;
    text-align: left;
    width: 700px;
    font-family: 'Calibri',sans-serif;
    padding: 10px;
}

#bar-content #version {
    display: inline-block;
    float: right;
    padding-top: 3px;
}

#bar-content #version, #bar-content #version a {
    font-size: 10px;
    color: #ddd;
    text-decoration: none;
}
#bar-content .other a:hover {
    color: white;
}
#bar-menu {
    display: inline-block;
    margin-left: 160px;
}
#bar-menu a {
    padding: 3px 7px;
    margin: 0 3px;
    background: black; /* Older browsers */
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 2px black;
}